this.hot = {
	EMAIL: "/dev/null",
	TITLES: {
		moe: "/moe/ - Sweets",
		gar: "/gar/ - Hard Work &amp; Guts",
		meta: "/meta/ - The Abyss",
		yu: "/yu/ - 湯",
		archive: "/archive/",
		graveyard: "/graveyard/",
		staff: "/staff/",
	},
	/* Default theme to use on each board */
	BOARD_CSS: {
		moe: 'moe',
		yu: 'ashita'
		gar: 'gar',
		meta: 'mawaru',
		archive: 'archive',
		graveyard: 'mawaru',
		staff: 'moe',
	},
	BOARD_ANNOUNCEMENTS: {
		moe: '',
		yu: '',
		staff: '',
		gar: '',
		archive: '',
		graveyard: '',
		meta: '',
	},

	/* Bump this version whenever you change base.css */
	BASE_CSS_VERSION: 45,
	/* Bump this version whenever you modify any existing theme CSS */
	THEME_CSS_VERSION: 9,

	INTER_BOARD_NAVIGATION: true,

	SPECIAL_TRIPCODES: {
		kyubey: "／人◕ ‿‿ ◕人＼",
	},
};
