a, blockquote a:hover, b.moderator, .embed, #rules, #options {
	color: #C7E5FF;
}
a:hover, blockquote a, .email b:hover, article.editing a:hover {
	color: #C7E5FF;
}
article, aside, .modal, .pagination {
	background-color: #4A403A;
	border-right: 2px solid #282a2e;
	border-bottom: 2px solid #282a2e;
}
article.highlight, .preview, .popup-menu {
	background-color: #1d1d21;
	border-color: #111;
}
article.editing {
	background-color: #F0D0BC;
	color: black;
}
article.editing a, article.editing header {
	color: #222;
}
article.editing em {
	color: #078A3B;
}
article.editing li {
	color: #ddd;
}
#subject {
	color: #FFD700;
}
article.editing .themed {
	color: #808080;
}
b.admin {
	color: #FCE347;
}
body {
	background-color: #63574E;
	color: white;
}
body, pre, .themed {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10pt;
}
input, select {
	font-family: inherit;
}
em {
	color: #b5bd68;
}
img {
	border-radius:5px;
}
h1 {
	letter-spacing: -2px;
}
h3 {
	color: #C7E5FF;
}
hr {
	border-top: 1px solid #282a2e;
}
.popup-menu li:hover {
	background-color: #136;
}
.act:before {
	content: "[";
}
.act:after {
	content: "]";
}
.omit {
	color: #d3d3d3;
}
#lock, .scroll-lock header {
	background-image: url('ui/invlock.svg');
}
.themed {
	color: #999;
}
@font-face {
	font-family: MSGothic;
	src: url('MS PGothic.ttf');
}
