body {
	background: black url('../divinity/back.png') no-repeat;
	background-size: 100%;
	font-size: 12pt;
	font-family: UniversLight,sans-serif;
	background-color: #f9f8fe;
}
div#countdown {
	margin-top: 100px;
	text-align: center;
}
div#info {
	display: block;
        position: absolute;
	text-align: center;
        left: 5%;
	max-width: 15%;
	top:10px;
	color: #000000;
}
a {
 	color: #ffffff;
        text-decoration: none;
}
a:hover {
        text-decoration: none;
        color: #d17c43;
}
body {
	color: #ffffff;
}
@font-face {
	font-family: "UniversLight";
	src: url("/css/univers-light.ttf");
}
