body {
/*	background: black url('../divinity/back.png') no-repeat;
	background-size: 100%;*/
	font-family: UniversLight,sans-serif;
}
#header {
	padding-bottom: 10px;
}
article {
	width:40%;
	margin:auto;
}
div#countdown {
	text-align: center;
}
div#info {
	display: block;
        position: absolute;
	text-align: center;
        left: 5%;
	max-width: 15%;
	top:10px;
	color: #000000;
}
.play{background: url('play.png') ;}
.pause{background: url('pause.png') ;}
#pButton{
	height:30px; 
	width: 30px;
	border: none;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
}
#pButton:focus {
	outline:0;
	border-color: inherit;
	-webkit-box-shadow:none;
	box-shadow:none;
}
@font-face {
	font-family: "UniversLight";
	src: url("/css/univers-light.ttf");
}
blockquote {
	text-align:center;
}