a, blockquote a:hover, b.moderator, .embed, #rules, #options {
	color: #473E59;
}
a:hover, .email b:hover, article.editing a:hover {
	color: #C7E5FF;
}
article, aside, .modal, .pagination {
	background-color: #FF9EDA;
	border-right: 2px solid #282a2e;
	border-bottom: 2px solid #282a2e;
}
article.highlight, .preview, .popup-menu {
	background-color: #FFB7E4;
	border-color: #111;
}
article.editing {
	background-color: #FFF5B7;
}
/*article.editing a, article.editing header {
	color: #222;
}*/
b.admin {
	color: #FCE347;
}
body {
	background-color: #AED2D4;
	color: #332C3F;
}
body, pre, .themed {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
input, select {
	font-family: inherit;
}
em {
	color: #FF7896;
}
h1 {
	letter-spacing: -2px;
}
h3 {
	color: #ce52c9;
}
hr {
	border-top: 1px solid #473E59;
}
.popup-menu li:hover {
	background-color: #136;
}
.act:before {
	content: "[";
}
.act:after {
	content: "]";
}
.omit {
	color: #322B66;
}
#lock, .scroll-lock header {
	background-image: url('ui/invlock.svg');
}
.themed {
	color: #ffffff;
}
article.editing .themed {
	color: #8473A5;
}
